* {
  box-sizing:border-box;
}

@font-face {
  font-family: 'alfphabetiii';
  src: url('alfphabet-iii-webfont.woff2') format('woff2'),
       url('alfphabet-iii-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'alfphabetiii', serif;
}

p {
  background-color: lightblue;
  padding:30px;
  border:10px solid thistle;
  margin:30px;
  max-width:300px;
  height:400px;
}
