* {
  box-sizing:border-box;
}

body {
  background:rgb(70, 67, 77);
  height:100vh;
  width:100vw;
  margin:0;
  border:2vh dashed rgb(241, 235, 176);
  color: rgb(70, 67, 77);
}

.border {
  height:100%;
  width:100%;
  border:3vh dashed rgb(241, 235, 176);
  position: relative;
}

.b1 {
  border:1px solid;
}

.b2 {
  border:4vh dashed rgb(241, 235, 176);
}

.leaves-edges {
  border:5vh dashed rgb(241, 235, 176);
  display:flex;

  position:absolute;
  top:50%;
  transform:translate(-50%, -50%);
  left:50%;
  height:50vh;
  width:50vw;
  /* border-radius: 20px; */
  /* overflow: hidden; */
}

.leaves {
  background:rgb(241, 235, 176);
  width:100%;
  border:1px solid;
  height:100%;
  /* transform: scale(1.03); */
  position: relative;
}

.leaves-front {
  background:rgb(241, 235, 176);
  width:25vw;
  height:25vh;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 2;
}

.trunk {
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  background:rgb(241, 235, 176);
  border:1px solid;

  height:50vh;
  width:10vw;
}

.ground {
  position:absolute;
  bottom:0;
  left:0;
  background:rgb(241, 235, 176);
  border:1px solid;

  height:3vh;
  width:100%;
}

.right {
  right:0;
  left:auto;
  height:100%;
  width:3vh;
}

.left {
  height:100%;
  width:3vh;
}

.top {
  top:0;
  bottom:auto;
}

.stem {
  position:absolute;
  top:-130%;
  left:15%;
  background:rgb(241, 235, 176);
  border:1px solid;
  height:130%;
  width:1%;
}

.s1 {
  left:30%;
}

.s2 {
  right:20%;
  left:auto;
}

.flower {
  position:absolute;
  top:-50%;
  left:-100%;
  background:rgb(241, 235, 176);
  border:1px solid;
  height:100%;
  width:300%;
}

.corner {
  position:absolute;
  background:rgb(241, 235, 176);
  border:1px solid;
  height:5vh;
  width:5vh;
}

.c-bottom-right {
  top: -6vh;
  right: 3.9vh;
}

.c-bottom-left {
  top: -6vh;
  left: 3.9vh;
}

.c-top-right {
  bottom: -6vh;
  right: 3.9vh;
}

.c-top-left {
  bottom: -6vh;
  left: 3.9vh;
}
