* {
  box-sizing:border-box;
}

button {
  background-color:rgb(137, 196, 140);
  border-radius:50%;
  border:none;
  cursor:cell;
  padding:20px;
}

button:hover {
  background-color:rgb(184, 203, 91);
}

.sidebar {
  background-color:rgb(171, 107, 97);
  position:fixed;
  top:0;
  right:-100px;
  height:300px;
  width:100px;
  padding:20px;
  transition: right .5s ease-in-out;
}

.active {
  right:0;
}

.draggable {
  cursor:grab;
  width:200px;
  height:200px;
  background-color:rgb(189, 221, 176);
}

.marquee {
  width: 100%;
  overflow: hidden;
  border:1px solid #ccc;
  font-size:40px;
  background-color:rgb(244, 225, 232);
}
