* {
  box-sizing:border-box;
}

body {
  margin:0;
  background-color:rgb(141, 150, 106);
}

.flex {
  width:100vw;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content:space-evenly;
}

.circle {
  width:20vw;
  height:20vw;
  background-color:rgb(138, 174, 204);
  border-radius:50%;
  animation: pulse 1s infinite alternate;
}

.square {
  width:20vw;
  height:20vw;
  background-color:rgb(138, 174, 204);
  animation: spin 2s infinite linear;
}

.zoomer {
  background-color:rgb(227, 48, 48);
  width:300px;
  height:70px;
  position:fixed;
  bottom:0;
  left:0;
  animation: zoom 3s infinite;
}

@keyframes pulse {
  0% {
    transform:scale(1);
    opacity:1;
    background-color:rgb(138, 174, 204);
  }
  100% {
    transform:scale(2);
    opacity:0;
    background-color:rgb(251, 252, 199);
  }
}

@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

@keyframes zoom {
  0% {
    transform:translateX(-500px);
  }
  100% {
    transform:translateX(110vw);
  }
}
